<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contentworkspace">
            <h2><span jhiTranslate="froalaApp.contentworkspace.detail.title">Contentworkspace</span> {{ contentworkspace.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="froalaApp.contentworkspace.name">Name</span></dt>
                <dd>
                    <span>{{ contentworkspace.name }}</span>
                </dd>
                <dt><span jhiTranslate="froalaApp.contentworkspace.contentcss">Contentcss</span></dt>
                <dd>
                    <div *ngIf="contentworkspace.contentcss">
                        <a [routerLink]="['/contentcss', contentworkspace.contentcss?.id, 'view']">{{ contentworkspace.contentcss?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contentworkspace', contentworkspace.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
