@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

.froala > * > html,
body {
  margin: 0;
  width: 100%;
}

/* .froala > * > 
h1,
h2,
p,
i,
a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
} */
.froala > * > h1,
p,
i,
a,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}
/* new code */
.froala > div > .fr-wrapper > * > h1,
p,
i,
a,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

.froala > * > h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}
/* new code */
.froala > div > .fr-wrapper > * > h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}

.fr-more-toolbar > * .fr-dropdown-list > * > h2 {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
  color: red;
}

/* new code */
.froala > div > .fr-wrapper > * > h2 {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
  color: red;
}

.fr-toolbar > * > .fr-dropdown-list > * > p,
i,
.fr-command {
  margin-top: 21px;
  font-family: 'Lora';
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

/* new code */
.froala > div > .fr-wrapper > * > p,
i,
.fr-command {
  margin-top: 21px;
  font-family: 'Lora';
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

.froala > * > a {
  text-decoration: underline;
}

/* new code */
.froala > div > .fr-wrapper > * > a {
  text-decoration: underline;
}

.froala > * > blockquote {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

/* new code */
.froala > div > .fr-wrapper > * > blockquote {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

.froala > * > code {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 3px 5px;
}

/* new code */
.froala > div > .fr-wrapper > * > code {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 3px 5px;
}

.froala > * > mark,
.highlighted {
  background: #7dffb3;
}

/* new code */
.froala > div > .fr-wrapper > * > mark,
.highlighted {
  background: #7dffb3;
}

.froala > * > .first-letter {
  overflow-wrap: break-word;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

/* new code */
.froala > div > .fr-wrapper > * > .first-letter {
  overflow-wrap: break-word;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.froala > * > .subtitle {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

/* new code */
.froala > div > .fr-wrapper > * > .subtitle {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

.froala > * > ::selection {
  background-color: lavender;
}

/* new code */
.froala > div > .fr-wrapper > * > ::selection {
  background-color: lavender;
}
